<ul id="mainMenu">
	<li id="schools">Schools
		<ul>
			<li id="central"><a href="http://www.petoskeyschools.org/schools/central/" target="_blank">Central Elementary</a></li>
			<li id="lincoln"><a href="http://www.petoskeyschools.org/schools/lincoln/" target="_blank">Lincoln Elementary</a></li>
			<li id="ottawa"><a href="http://www.petoskeyschools.org/schools/ottawa/" target="_blank">Ottawa Elementary</a></li>
			<li id="sheridan"><a href="http://www.petoskeyschools.org/schools/sheridan/" target="_blank">Sheridan Elementary</a></li>
			<li id="montessori"><a href="http://www.petoskeymontessori.org/" target="_blank">Montessori</a></li>
			<li id="ms"><a href="http://www.petoskeyschools.org/schools/middle-school/" target="_blank">Middle School</a></li>
			<li id="hs"><a href="http://www.petoskeyschools.org/schools/high-school/" target="_blank">High School</a></li>
		</ul>
	</li>
	<li id="athletics">Athletics
		<ul>
			<li><a href="http://www.petoskeyschools.org/schools/high-school/athletics/" target="_blank">Athletics</a></li>
		</ul>
	<li>Band
		<ul>
			<li id="ms-band"><a href="http://www.petoskeybands.org/" target="_blank">Middle School</a></li>
			<li id="hs-band"><a href="http://www.petoskeybands.org/" target="_blank">High School</a></li>
		</ul>
	</li>
	<li id="administration">Administration</li>
		<ul>
			<li></li>
		</ul>
	<li id="staff">Staff
		<ul>
			<li id="central_staff" ng-click="filterByBuilding('Central')"><a href="">Central Elementary</a></li>
			<li id="lincoln_staff" ng-click="filterByBuilding('Lincoln')"><a href="">Lincoln</a></li>
			<li id="ottawa_staff"  ng-click="filterByBuilding('Ottawa')"><a href="">Ottawa</a></li>
			<li id="sheridan_staff" ng-click="filterByBuilding('Sheridan')"><a href="">Sheridan</a></li>
			<li id="montessori_staff" ng-click="filterByBuilding('Montessori')"><a href="">Montessori</a></li>
			<li id="ms_staff" ng-click="filterByBuilding('MS')"><a href="">PMS</a></li>
			<li id="hs_staff" ng-click="filterByBuilding('HS')"><a href="">PHS</a></li>
			<li id="spitler_staff" ng-click="filterByBuilding('Spitler')"><a href="">Spitler</a></li>
		</ul>
	</li>
	<li id="powerschool">PowerSchool
		<ul>
			<li id="student-ps"><a href="http://powerschool1.petoskeyschools.org" target="_blank">Student/Parent</a></li>
			<li id="staff-ps"><a href="http://powerschool1.petoskeyschools.org/teachers" target="_blank">Staff</a></li>
		</ul>
	</li>
</ul>